/*
 COLORINES:
 - Texto blanquito: #fefefe
 - Texto gris: #777777
 - Texto lila: rgb(134, 48, 255)
 - Texto lila oscuro: rgb(96, 0, 170)
 - Fondo body: #1f1f1f
 - Fondo header: #0f0f0f
 */

body {
    background-color: #1f1f1f;
    color: #fefefe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    line-height: 1.5em;
}

/*********** HEADER ***********/

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0f0f0f;
    padding-top: 0.7em;
}

#divHeader{
    display: grid;
    grid-template-columns: 85% 15%;
}

#divHeaderTitulo{
    font-size: 3em;
    color: rgb(134, 48, 255);
    text-shadow: 0 0 15px rgb(96, 0, 170);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#divHeaderAutor{
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    padding-right: 5%;
}

#divHeaderAutor span{
    padding: 0.5%;
}

#divHeaderMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#divHeaderMenu a{
    color: #fefefe;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 0 0 15px rgb(139, 49, 255), 0 0 15px rgb(139, 49, 255);
    text-decoration: none;
    padding: 1.2em;
}

#divHeaderMenu a:hover{
    text-shadow: 0 0 15px rgb(139, 49, 255), 0 0 15px rgb(139, 49, 255);
    color: rgb(139, 49, 255); 
    background-color: #171717;
}


/*********** FOOTER ***********/


footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #0f0f0f;
    color: #909090;
    padding-bottom: 1%;
}

#divFooterContenidos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
}

#divFooterContenidos a{
    color: #bebebe;
    text-align: center;
    text-decoration: none;
}

#divFooterContenidos a:hover{
    color: rgb(139, 49, 255);
}