main{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 7%;
}

main a{
    color: dodgerblue;
    text-decoration: none;
}

main a:hover{
    color: rgb(139, 49, 255);
}

img{
    width: 20em;
    height: 20em;
}

h1{
    font-size: 2.5em;
    text-align: center;
    text-shadow: 0 0 15px rgb(139, 49, 255), 0 0 15px rgb(139, 49, 255);
    margin-top: 1.1em;
    margin-bottom: 1.1em;
}

h2{
    font-size: 2em;
    color: rgb(163, 97, 255);
    margin-bottom: 0.1em;
    margin-top: 1em;
}

details > summary{
    color: rgb(163, 97, 255);
    list-style: none;
    cursor: pointer;
}

details > summary:hover{
    text-shadow:0 0 15px rgb(163, 97, 255);
}

.componente{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.componente p, .componente ul{
    margin-right: 7%;
}

.componente div[id$="Img"]{
    display: flex;
    justify-content: center;
    align-items: start;
}

.periferico{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}


.perifericoDesc{
    margin-right: 7%;
}

.perifericoImg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.perifericoImg img{
    width: 12em;
    height: 12em;
}

.herramienta{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.herramientaImg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.herramientaImg img{
    width: 12em;
    height: 12em;
}

