main{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 7%;
    text-align: center;
}

p{
    font-size: 1.1em;
    line-height: 1.5em;
}

i{
    animation: sarcasmo linear 2s infinite;
}

@keyframes sarcasmo{
    50%{text-shadow:0 0 10px pink;}
}