img{
    width: 15em;
    height: 15em;
}

h1{
    margin-bottom: 0.7em;
}

h2{
    font-size: 1.7em;
    color: rgb(163, 97, 255);
    margin-bottom: 0.1em;
    margin-top: 1em;
}

.centro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    text-align: center;
    margin-bottom: 0.4em;
}

.centro p{
    width: 60%;
}

#tutorial div{
    margin-bottom: 1.3em;
}

#tutorial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7%;
}

.derecha, .izquierda{
    width: 60%;
    display: grid;
}

.derecha{
    grid-template-columns: 40% 60%;
}

.izquierda{
    grid-template-columns: 60% 40%;
}

.izquierda .texto{
    margin-right: 7%;
}

.derecha .texto{
    margin-left: 7%;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagen img{
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    /*max-height: 20em;
    max-width: 20em;*/
}

.dosImagenes img{
    margin-top: 0.3em;
}

p, ul>li, ol>li, ul>li>ul>li{
    font-size: 1.15 em;
    line-height: 1.5em;
}