table, th, td{
    /*border: 1px solid;
    border-collapse: collapse;*/
    padding: 0.2em; 
    padding-left: 0.3em;
    padding-right: 0.3em;
}

th{
    font-size: 1.3em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    background-color: #0f0f0f;
    color: rgb(134, 48, 255);
}

tbody tr:hover{
    background-color: #0f0f0f;
    color: rgb(197, 156, 255);
}

#porsupuesto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.especial{
    text-align: end;
    padding-right: 0.5em;
    background-color: #0f0f0f;
    color: rgb(134, 48, 255);
}

.precio, .unidades, .total{
    text-align: center;
}

.total, #total{
    font-weight: bold;
}

.par{
    background-color: #2b2b2b;
}

#totalFinal{
    font-size: 1.3em;
}

#excel{
    display: flex;
    justify-content: center;
    margin-bottom: 7%;
    margin-top: 1%;
    text-decoration: none;
}

#excel div{
    text-align: center;
    font-size: 1.4em;
    background-color: #185C37;
    border-radius: 1em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

#excel div:hover{
    background-color: #21A366;
}

#excel a{
    color: #fefefe;
    text-decoration: none;
}
